################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/VirtualBox VMs
/source
/Searches
/Saved Games
/ntuser.ini
/NTUSER.DAT{c75093c0-8a67-11eb-bf59-0c9d92c82491}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{c75093c0-8a67-11eb-bf59-0c9d92c82491}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{c75093c0-8a67-11eb-bf59-0c9d92c82491}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/MicrosoftEdgeBackups
/Links
/Katalon Studio
/Intel
/IdeaProjects - Acceso directo.lnk
/IdeaProjects
/Favorites
/Database.kdbx
/Creative Cloud Files
/Contacts
/CLionProjects
/AppData
/AndroidStudioProjects
/3D Objects
/.VirtualBox
/.tooling
/.swt
/.sonarlint
/.se-gc
/.phet
/.p2
/.node_repl_history
/.m2
/.katalon
/.IdeaIC2019.3
/.gradle
/.gitconfig
/.emulator_console_auth_token
/.eclipse
/.bash_history
/.AndroidStudio4.0
/.android
